
:host ::ng-deep .p-rowgroup-footer td {
    font-weight: 700;
}

:host ::ng-deep .p-rowgroup-header {
    span {
        font-weight: 700;
    }

    .p-row-toggler {
        vertical-align: middle;
        margin-right: .25rem;
    }
}
:host ::ng-deep #btnDeleteImage .p-button-danger {
    padding-right: 13px !important;
    padding-left: 13px !important;
}