<div class="" >
    <p-toolbar styleClass="mb-2" >
        <ng-template pTemplate="left">            
            <!-- <app-custom-new-btn [ControllerName]="ControllerName" severity="success"   (onBtnNewClick)="clearSearchData();"  icon="pi pi-plus"  ></app-custom-new-btn> -->
            <app-custom-delete-btn [ControllerName]="ControllerName" (onBtnDeleteClick)="showConfirmDialog()"></app-custom-delete-btn>
                 <app-custom-print-btn [ControllerName]="ControllerName" (onBtnPrintClick)="printUsersActionData()"></app-custom-print-btn>
                    <div class="flex align-items-center gap-1 mx-2  cursor-pointer" >
                        
                        <label for="printAll" pInputText  class="cursor-pointer border-0 bg-transparent">{{_localizeServe.getLabelValue('lbl_printAll')}}</label>
                    
                    <p-checkbox 
                    name="printAll"                                     
                    [binary]="true"
                    [(ngModel)]="printAll"                    
                    inputId="printAll" />
                    </div>

        </ng-template>

        <ng-template pTemplate="right" >
           
        </ng-template>
    </p-toolbar>
<p-table 
        
        #dtActions
        [value]="usersActionsData"
    [rowHover]="true"
    [scrollable]="true" 
    scrollHeight="600px" 
    [tableStyle]="{'min-width': '50rem'}"
    [showCurrentPageReport]="true"
    
    >
    <ng-template pTemplate="caption">
        <div class="row" >
            <div class="col-md-2 mb-4 mt-2">
                <!-- <p-button [outlined]="true"  class="mr-2" icon="pi pi-filter-slash" [label]="_localizeServe.getLabelValue('lbl_clear')"  /> -->
                <app-custom-clear-btn [ControllerName]="ControllerName" icon="pi pi-filter-slash" [label]="_localizeServe.getLabelValue('lbl_clear')"
                [outlined]="true" (onBtnClearClick)="clearSearchData()"
                ></app-custom-clear-btn>
            </div>
            <div class="col-md-2 mb-4 mt-2">
        
            <app-custom-search-filter-input #txtCustomSearch
            [ControllerName]="ControllerName"
            [txtPlaceHolder]="_localizeServe.getLabelValue('lbl_search')"
            [txtSerach]="txtSearch" (onSearchFilterInput)="getDataOnParamsChanges()">

        </app-custom-search-filter-input>
        </div>
        <div class="col-md-2 mb-4 mt-2">
        <app-custom-search-filter-drop-down #actionProcessTypeDropDown (onDropDownValueChanged)="getDataOnParamsChanges()" 
        [dropDownData]="userActionsProcessTypesData" [optionValue]="'key'"        
        [optionLabel]="'value'" [showClear]="true" [inputId]="'process-Type'" [ControllerName]="ControllerName"
        [placeholder]="_localizeServe.getLabelValue('lbl_choose')"
        [labelPlaceholder]="_localizeServe.getLabelValue('lbl_processType')"
        ></app-custom-search-filter-drop-down>    
    </div>

    <div class="col-md-3 mb-4 mt-2">

        <!-- <p-floatLabel  [class]="'w-100'"  dir="ltr">
            <p-calendar 
            [(ngModel)]="dateFromSearch"
            (onSelect)="getDataOnParamsChanges()"
            (onClearClick)="getDataOnParamsChanges()"
            styleClass="w-100"
            dateFormat="yy-mm-dd"
                [iconDisplay]="'input'" 
                [showIcon]="true" 
                [showButtonBar]="true"
                inputId="date-From" />
        <label  for="date-From" >{{_localizeServe.getLabelValue('lbl_startDate')}}</label>
    </p-floatLabel> -->

    <app-custom-calendar-filter-search [ControllerName]="ControllerName"
     #dateFromForUserActionUpdateDate
    (onValueSelected)="getDataOnParamsChanges()"
    dateFormat="yy-mm-dd"
    [iconDisplay]="'input'" 
    [showIcon]="true" 
    [showButtonBar]="true"
    inputId="date-From" 
    [labelPlaceholder]="_localizeServe.getLabelValue('lbl_startDate')"
    ></app-custom-calendar-filter-search>
    </div>

    <div class="col-md-3 mb-4 mt-2">

        <!-- <p-floatLabel  [class]="'w-100'"  dir="ltr">
            <p-calendar 
            [(ngModel)]="dateToSearch"
            (onSelect)="getDataOnParamsChanges()"
            (onClearClick)="getDataOnParamsChanges()"
            styleClass="w-100"
            dateFormat="yy-mm-dd"
                [iconDisplay]="'input'" 
                [showButtonBar]="true"
                [showIcon]="true" 
                inputId="date-To" />
        <label  for="date-To" >{{_localizeServe.getLabelValue('lbl_endDate')}}</label>
    </p-floatLabel> -->

    <app-custom-calendar-filter-search [ControllerName]="ControllerName"
    #dateToForUserActionUpdateDate
   (onValueSelected)="getDataOnParamsChanges()"
   dateFormat="yy-mm-dd"
   [iconDisplay]="'input'" 
   [showIcon]="true" 
   [showButtonBar]="true"
   inputId="date-To" 
   [labelPlaceholder]="_localizeServe.getLabelValue('lbl_endDate')"
   ></app-custom-calendar-filter-search>
    </div>
        </div>
    </ng-template>
        <ng-template pTemplate="header" >
          
            <tr >
               
                <th pSortableColumn="pageArName" class="text-center">{{_localizeServe.getLabelValue('lbl_page')}} <p-sortIcon field="pageArName" /></th>
                <th pSortableColumn="displayName" class="text-center">{{_localizeServe.getLabelValue('lbl_userName')}} <p-sortIcon field="displayName" /></th>
                <th pSortableColumn="formattedUpdatedTime" class="text-center">{{_localizeServe.getLabelValue('lbl_time')}} <p-sortIcon field="formattedUpdatedTime" /></th>
                <th pSortableColumn="formattedUpdatedDate" class="text-center">{{_localizeServe.getLabelValue('lbl_date')}} <p-sortIcon field="formattedUpdatedDate" /></th>
                <th pSortableColumn="entityState" class="text-center">{{_localizeServe.getLabelValue('lbl_processType')}} <p-sortIcon field="entityState" /></th>
                <th pSortableColumn="tableName" class="text-center">{{_localizeServe.getLabelValue('lbl_table')}} <p-sortIcon field="tableName" /></th>
                <th pSortableColumn="entityId" class="text-center">{{_localizeServe.getLabelValue('lbl_recordNumber')}} <p-sortIcon field="entityId" /></th>
                <th   class="text-center">
                    <label for="checkAll" class="mx-2 cursor-pointer">{{_localizeServe.getLabelValue('lbl_delete')}}</label>
                    <p-checkbox inputId="checkAll" [binary]="true" (onChange)="checkAllusersActions($event)" /></th>

            </tr>
       
        </ng-template>

 
 

        <ng-template  pTemplate="body" let-action > 
         
            <tr> 
                <th hidden><input  type="text" pInputText [(ngModel)]="action.keyId" /></th>
                <td class="text-center"><input [disabled]="true"  type="text" pInputText [(ngModel)]="action.pageArName" /></td>
                <td class="text-center"><input [disabled]="true"  type="text" pInputText [(ngModel)]="action.displayName" /></td>                
                <td class="text-center"><p-calendar [disabled]="true" [showIcon]="true" [showTime]="true" [hourFormat]="'12'" [timeOnly]="true" dateFormat="hh:mm:ss a" [(ngModel)]="action.formattedUpdatedTime"></p-calendar>
                  </td> 
                <td class="text-center"><p-calendar   [disabled]="true" [showIcon]="true"   dateFormat="yy-mm-dd"  [(ngModel)]="action.formattedUpdatedDate" /></td>
                <td class="text-center">  <p-dropdown  
                    [options]="userActionsProcessTypesData"
                    optionLabel="value" 
                    optionValue="key"
                       [(ngModel)] = "action.entityState"
                       [disabled]="true"
                         /></td>
                         <td class="text-center"><input [disabled]="true"  type="text" pInputText [(ngModel)]="action.tableName" /></td>      
                         <td class="text-center"><input [disabled]="true"  type="text" pInputText [(ngModel)]="action.entityId" /></td>      
                         <td class="text-center"> <p-checkbox [(ngModel)]="action.actionToDelete" [binary]="true"  /></td>

            </tr>
        </ng-template> 
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
            <app-custom-paginator-filter-search [ControllerName]="ControllerName" (onPageChange)="getDataOnParamsChanges()" dropdownAppendTo="body" [showCurrentPageReport]="true" currentPageReportTemplate="{{_localizeServe.getLabelValue('lbl_show')}} {first} {{_localizeServe.getLabelValue('lbl_to')}} {last} {{_localizeServe.getLabelValue('lbl_of')}} {totalRecords} {{_localizeServe.getLabelValue('lbl_entries')}}" #paginatorRef [rows]="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30,40,50]"></app-custom-paginator-filter-search>
            </div> 
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">{{_localizeServe.getLabelValue('lbl_noData')}}</td>
            </tr>
        </ng-template>
</p-table>
<app-custom-confirm-dialog (onConfirm)="deleteSelectedUsersActions()" #ConfirmDialog></app-custom-confirm-dialog>
</div>