<div class="">
    <p-toolbar styleClass="mb-2">
        <ng-template pTemplate="left">
            <app-custom-new-btn [ControllerName]="ControllerName" severity="success"
                icon="pi pi-plus"
                (onBtnNewClick)="openNew()"></app-custom-new-btn>
        </ng-template>

        <ng-template pTemplate="right">

        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="sections" [rowHover]="true" [scrollable]="true" scrollHeight="600px"
        [tableStyle]="{'min-width': '50rem'}" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <p-button [outlined]="true" icon="pi pi-filter-slash"
                class="mr-2"
                    [label]="_localizeServe.getLabelValue('lbl_clear')" (onClick)="dt.reset()" />

                <app-custom-search-filter-input #txtCustomtxtSearchSextions
                [ControllerName]="ControllerName"
                [txtPlaceHolder]="_localizeServe.getLabelValue('lbl_search')"
                [txtSerach]="txtSearch" (onSearchFilterInput)="getSectionsData(1 , 10 , txtCustomtxtSearchSextions.txtSerach , null)">

            </app-custom-search-filter-input>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">#</th>
                <th pSortableColumn="name" class="text-center">{{_localizeServe.getLabelValue('lbl_sectionName')}}
                    <p-sortIcon field="name" /></th>
                <th pSortableColumn="formattedUpdatedDate" class="text-center">
                    {{_localizeServe.getLabelValue('lbl_additionDate')}}<p-sortIcon field="formattedUpdatedDate" /></th>
                <th class="text-center">{{_localizeServe.getLabelValue('lbl_operations')}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-section>
            <tr>
                <td class="text-center">{{section.keyId}}</td>
                <td class="text-center">{{section.name}}</td>
                <td class="text-center">{{section.formattedUpdatedDate}}</td>
                <td class="text-center">
                    <div dir="ltr">
                        <app-custom-edit-btn [ControllerName]="ControllerName"
                            (onBtnEditClick)="getSectionForEdit(section.keyId)"></app-custom-edit-btn>
                        <app-custom-delete-btn [ControllerName]="ControllerName"
                            (onBtnDeleteClick)="showConfirmDialog(section.keyId)"></app-custom-delete-btn>

                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">          
                    <app-custom-paginator-filter-search [ControllerName]="ControllerName" 
                    (onPageChange)="getPaginatedData()"
                     dropdownAppendTo="body" [showCurrentPageReport]="true" 
                     currentPageReportTemplate="{{_localizeServe.getLabelValue('lbl_show')}} {first} {{_localizeServe.getLabelValue('lbl_to')}} {last} {{_localizeServe.getLabelValue('lbl_of')}} {totalRecords} {{_localizeServe.getLabelValue('lbl_entries')}}" #paginatorRef [rows]="10" [totalRecords]="totalRecords"
                      [rowsPerPageOptions]="[10, 20, 30,40,50]"></app-custom-paginator-filter-search>
            </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">{{_localizeServe.getLabelValue('lbl_noData')}}</td>
            </tr>
        </ng-template>
    </p-table>


    <form [formGroup]="sectionForm">
        
    <app-custom-dialog #sectionCustomDialog [ControllerName]="ControllerName" [maximizable]="false" height="230px" [visible]="sectionsDialog" [width]="'25vw'" (onClose)="hideDialog()"
      (onBtnSaveClick)="onSave()" (onBtnEditClick)="onEdit()"
        >

        <!-- Pass dynamic content to the dialog using ng-template -->
        <ng-template #dialogContent>
            <div class="mt-4">
                <input hidden class="w-100" formControlName="keyId"  type="text" pInputText />
            <p-floatLabel >
                <input class="w-100" formControlName="name" id="sectionName"  type="text" pInputText />
                <label for="sectionName" dir="ltr" class="w-100">{{_localizeServe.getLabelValue('lbl_sectionName')}}</label>
             </p-floatLabel>
             <p *ngIf="sectionForm.get('name')?.getError('required') && sectionForm.get('name')?.touched"
             class="text-danger mx-1">*</p>
          <p *ngIf="sectionForm.get('name')?.getError('pattern') && sectionForm.get('name')?.valueChanges"
             class="text-danger mx-1">*</p>
            </div>
        </ng-template>

    </app-custom-dialog>
</form>

    <app-custom-confirm-dialog #customDeleteDialog (onConfirm)="onDelete()"></app-custom-confirm-dialog>

</div>