<div class="row w-100">

    <div class="col-12 mb-2">


        <div class="">
            <p-toolbar styleClass="mb-2 ">
                <ng-template pTemplate="left">
                    <app-custom-new-btn [ControllerName] = "ControllerName" severity="success" [ControllerName]="ControllerName"
                        icon="pi pi-plus"
                        (onBtnNewClick)="emitBtnNewClickEvent()"></app-custom-new-btn>
                 
                    <app-custom-save-btn [ControllerName]="ControllerName" [hidden]="!hideBtnEdit"
                        (onBtnSaveClick)="saveNewPermissionMasterWithDetails()"></app-custom-save-btn>
                    <app-custom-edit-btn [ControllerName]="ControllerName" [hidden]="hideBtnEdit"
                        (onBtnEditClick)="editPermissionMasterAndDetails()"></app-custom-edit-btn>
                        <app-custom-search-btn [ControllerName]="ControllerName"
                        (onBtnSearchClick)="showDialogPermissions()"></app-custom-search-btn>
                    <app-custom-print-btn [ControllerName]="ControllerName"
                        (onBtnPrintClick)="printPermissionsWithDetails()"></app-custom-print-btn>
                </ng-template>

                <ng-template pTemplate="right">

                </ng-template>
            </p-toolbar>
            <p-table #dtPermissions sortField="pageCategoryName" sortMode="single" rowGroupMode="subheader"
                groupRowsBy="pageCategoryName" [value]="data" [rowHover]="true" [scrollable]="true" scrollHeight="300px"
                [tableStyle]="{'min-width': '50rem'}" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="row">
                        <div class="col-2  mb-4 mt-2">

                                <app-custom-clear-btn [ControllerName]="ControllerName"
                            [outlined]="true" btnClass="mx-0"  icon="pi pi-filter-slash"
                            [label]="_localizeServe.getLabelValue('lbl_clear')"
                            (onBtnClearClick)="dtPermissions.reset();txtCustomtxtSearchSherdPermissions.txtSerach='';pagesCategoriesDropDown.value = null;
                            getByFiltering();"
                            ></app-custom-clear-btn>

                        </div>
                        <div class="col-md-4 mb-4 mt-2">

                            <app-custom-search-filter-input #txtCustomtxtSearchSherdPermissions
                                [ControllerName]="ControllerName"
                                [txtPlaceHolder]="_localizeServe.getLabelValue('lbl_search')"
                                [txtSerach]="txtSearchSherdPermissions" (onSearchFilterInput)="getByFiltering()">

                            </app-custom-search-filter-input>
                        </div>
                        <div class="col-md-6 mb-4 mt-2">
                     <app-custom-search-filter-drop-down #pagesCategoriesDropDown (onDropDownValueChanged)="getByFiltering()" 
                     [dropDownData]="pagesCategoriesData" [optionValue]="'key'"
                     [optionLabel]="'value'" [showClear]="true" [inputId]="'userPolicy-label'" [ControllerName]="ControllerName"
                     [placeholder]="_localizeServe.getLabelValue('lbl_choose')"
                     [labelPlaceholder]="_localizeServe.getLabelValue('lbl_pagesCategories')"
                     ></app-custom-search-filter-drop-down>    
                            
                        </div>
                    
                    </div>
                </ng-template>
                <ng-template pTemplate="header">

                    <tr>
                        <th class="text-center">#</th>
                        <th pSortableColumn="userControllerName" class="text-center">
                            {{_localizeServe.getLabelValue('lbl_page')}} <p-sortIcon field="userControllerName" /></th>
                        <th class="text-center">{{_localizeServe.getLabelValue('lbl_canSee')}}</th>
                        <th class="text-center">{{_localizeServe.getLabelValue('lbl_canSave')}}</th>
                        <th class="text-center">{{_localizeServe.getLabelValue('lbl_canEdit')}}</th>
                        <th class="text-center">{{_localizeServe.getLabelValue('lbl_canDelete')}}</th>
                        <th class="text-center">{{_localizeServe.getLabelValue('lbl_canPrint')}}</th>
                        <th class="text-center">{{_localizeServe.getLabelValue('lbl_canSearch')}}</th>
                        <th class="text-center">
                            <label for="checkAll"
                                class="mx-2 cursor-pointer">{{_localizeServe.getLabelValue('lbl_doAll')}}</label>
                            <p-checkbox inputId="checkAll" [binary]="true" (onChange)="checkAllPermissions($event)" />
                        </th>

                    </tr>

                </ng-template>

                <ng-template pTemplate="groupheader" let-per>
                    <tr pRowGroupHeader *ngIf="per.isRowShown">
                        <td colspan="9">
                            <i class="fa-solid fa-layer-group"></i>
                            <span class="font-bold ml-2">{{per.pageCategoryName}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="groupfooter" let-per>
                    <tr *ngIf="per.isRowShown">
                        <td colspan="9" class="text-right font-bold pr-6">
                            {{_localizeServe.getLabelValue('lbl_count')}}: {{calculateTotal(per.pageCategoryName)}}
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-per let-i="index">

                    <tr *ngIf="per.isRowShown">
                        <th class="text-center" hidden><input type="text" pInputText [(ngModel)]="per.keyId" /></th>
                        <td class="text-center"><input [disabled]="true" type="text" pInputText
                                [(ngModel)]="per.pageId" /></td>
                        <td class="text-center"><input [disabled]="true" type="text" pInputText
                                [(ngModel)]="per.userControllerName" /></td>
                        <td class="text-center"> <p-checkbox [(ngModel)]="per.canSee" [binary]="true" /></td>
                        <td class="text-center"> <p-checkbox [(ngModel)]="per.canSave" [binary]="true" /></td>
                        <td class="text-center"> <p-checkbox [(ngModel)]="per.canEdit" [binary]="true" /></td>
                        <td class="text-center"> <p-checkbox [(ngModel)]="per.canDelete" [binary]="true" /></td>
                        <td class="text-center"> <p-checkbox [(ngModel)]="per.canPrint" [binary]="true" /></td>
                        <td class="text-center"> <p-checkbox [(ngModel)]="per.canSearch" [binary]="true" /></td>
                        <td class="text-center"> <p-checkbox [(ngModel)]="per.doAll" [binary]="true"
                                (onChange)="checkAllPermissionsPerLine($event , per)" /></td>
                        <td class="text-center" hidden> <p-checkbox [(ngModel)]="per.isRowShown" [binary]="true" /></td>
                        <th class="text-center" hidden><input type="text" pInputText
                                [(ngModel)]="per.permissionsSpecificationId" /></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        
                    </div>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">{{_localizeServe.getLabelValue('lbl_noData')}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>


    </div>

    <div class="col-md-6 mb-2">
        <p-panel [header]="_localizeServe.getLabelValue('lbl_usersWithoutPermissions')" [toggleable]="true">
            <p-table #dtUsersWithoutPermissions [value]="userWithoutPermissionsData" [rowHover]="true"
                [scrollable]="true" scrollHeight="600px" [tableStyle]="{'min-width': '50rem'}"
                [showCurrentPageReport]="true" [globalFilterFields]="['displayName', 'userPolicyName']">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                    


                            <app-custom-clear-btn [ControllerName]="ControllerName"
                            [outlined]="true" icon="pi pi-filter-slash"
                            [label]="_localizeServe.getLabelValue('lbl_clear')"
                            (onBtnClearClick)="dtUsersWithoutPermissions.reset();txtCustomSearchUsersWithoutPermissions.txtSerach='';filterGlobalUsersWithoutPermissions();"
                            ></app-custom-clear-btn>
                        <app-custom-search-filter-input #txtCustomSearchUsersWithoutPermissions
                            [ControllerName]="ControllerName"
                            [txtPlaceHolder]="_localizeServe.getLabelValue('lbl_search')"
                            [txtSerach]="txtSearchUsersWithoutPermissions"
                            (onSearchFilterInput)="filterGlobalUsersWithoutPermissions()">

                        </app-custom-search-filter-input>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="displayName" class="text-center">
                            {{_localizeServe.getLabelValue('lbl_userName')}} <p-sortIcon field="displayName" /></th>
                        <th pSortableColumn="userPolicyName" class="text-center">
                            {{_localizeServe.getLabelValue('lbl_userPolicy')}}<p-sortIcon field="userPolicyName" /></th>
                            <th class="text-center">
                                {{_localizeServe.getLabelValue('lbl_userState')}}
                            </th>
                        <th class="text-center">{{_localizeServe.getLabelValue('lbl_operations')}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-userPer let-rowIndex="rowIndex">
                    <tr>
                        <td class="text-center">{{userPer.displayName}}</td>
                        <td class="text-center">{{userPer.userPolicyName}}</td>
                        <td class="text-center">
                             <p-tag [value]="getActivityValue(userPer.isActive)"
                                        [severity]="getSeverity(userPer.isActive)" />
                        </td>
                        <td class="text-center">
                            <div dir="ltr">
                                <p-button icon="pi pi-plus" class="mr-2" [rounded]="true" [outlined]="true"
                                    severity="secondary" (onClick)="addUserToPermssionsList(rowIndex)" />


                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">{{_localizeServe.getLabelValue('lbl_noData')}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>
    <div class="col-md-6 mb-2">
        <p-panel [header]="_localizeServe.getLabelValue('lbl_usersHavePermissions')" [toggleable]="true">
            <p-table #dtHavePermssions [value]="usersHavePermissions" [rowHover]="true" [scrollable]="true"
                scrollHeight="600px" [tableStyle]="{'min-width': '50rem'}" [showCurrentPageReport]="true"
                [globalFilterFields]="['displayName', 'userPolicyName']">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                      

                            <app-custom-clear-btn [ControllerName]="ControllerName"
                            [outlined]="true" icon="pi pi-filter-slash"
                            [label]="_localizeServe.getLabelValue('lbl_clear')"
                            (onBtnClearClick)="dtHavePermssions.reset();txtCustomSearchUsersHavePermission.txtSerach='';filterGlobalUsersHavePermissions();"
                            ></app-custom-clear-btn>
                        <app-custom-search-filter-input #txtCustomSearchUsersHavePermission
                            [ControllerName]="ControllerName"
                            [txtPlaceHolder]="_localizeServe.getLabelValue('lbl_search')"
                            [txtSerach]="txtSearchUsersHavePermissions"
                            (onSearchFilterInput)="filterGlobalUsersHavePermissions()">

                        </app-custom-search-filter-input>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="displayName" class="text-center">
                            {{_localizeServe.getLabelValue('lbl_userName')}} <p-sortIcon field="displayName" /></th>
                        <th pSortableColumn="userPolicyName" class="text-center">
                            {{_localizeServe.getLabelValue('lbl_userPolicy')}}<p-sortIcon field="userPolicyName" /></th>
                            <th class="text-center">
                                {{_localizeServe.getLabelValue('lbl_userState')}}
                            </th>
                            
                        <th class="text-center">{{_localizeServe.getLabelValue('lbl_operations')}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-userPer let-rowIndex="rowIndex">
                    <tr>
                        <td class="text-center">{{userPer.displayName}}</td>
                        <td class="text-center">{{userPer.userPolicyName}}</td>
                        <td class="text-center">
                            <p-tag [value]="getActivityValue(userPer.isActive)"
                                       [severity]="getSeverity(userPer.isActive)" />
                       </td>
                        <td class="text-center">
                            <div dir="ltr">
                                <app-custom-delete-btn [ControllerName]="ControllerName"
                                    (onBtnDeleteClick)="deleteUserFromPermissionList(rowIndex)"></app-custom-delete-btn>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">{{_localizeServe.getLabelValue('lbl_noData')}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>



</div>

<!--Search Dialog form Permissions Master -->
<app-custom-dialog #permissionsCustomDialog [visible]="permissionsDialog" [height]="'auto'" styleClass="w-xs-100vw w-md-100 w-sm-100vw" width="" (onClose)="hideDialog()"
    (onBtnSaveClick)="onSave()"  (onBtnEditClick)="onEdit()" >

    <ng-template #dialogContent>
        <p-table #dt [value]="permissionsMaster" [rowHover]="true" [scrollable]="true" scrollHeight="600px"
            [tableStyle]="{'min-width': '50rem'}" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="d-flex justify-content-between">
                    <div class="">
                      

                            <app-custom-clear-btn [ControllerName]="ControllerName"
                            [outlined]="true" icon="pi pi-filter-slash"
                            
                            [label]="_localizeServe.getLabelValue('lbl_clear')"
                            (onBtnClearClick)="dt.reset();clearPermissiosnMasterFilters()"
                            ></app-custom-clear-btn>
                    </div>
                    <div class="">
                     

                        <app-custom-search-filter-input #txtCustomtxtSearchPermissionsMaster
                        [ControllerName]="ControllerName"
                        [txtPlaceHolder]="_localizeServe.getLabelValue('lbl_search')"
                        [txtSerach]="txtSearchForPermissionsMaster" (onSearchFilterInput)="getPermissiosnMasterData(1 , 10 , txtCustomtxtSearchPermissionsMaster.txtSerach , null)">
        
                    </app-custom-search-filter-input>

                     
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th pSortableColumn="profileName" class="text-center">{{_localizeServe.getLabelValue('lbl_name')}}
                        <p-sortIcon field="profileName" />
                    </th>
                    <th pSortableColumn="formattedUpdatedDate" class="text-center">
                        {{_localizeServe.getLabelValue('lbl_additionDate')}}<p-sortIcon field="formattedUpdatedDate" />
                    </th>
                    <th class="text-center">{{_localizeServe.getLabelValue('lbl_import')}}</th>
                    <th class="text-center">{{_localizeServe.getLabelValue('lbl_operations')}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-permission>
                <tr>
                    <td class="text-center">{{permission.keyId}}</td>
                    <td class="text-center">{{permission.profileName}}</td>
                    <td class="text-center">{{permission.formattedUpdatedDate}}</td>
                    <td class="text-center"><p-button icon="pi pi-file-import" class="mr-2" [outlined]="true"
                            severity="contrast" (onClick)="importPermissionsAsTheSame(permission.keyId)" />
                    </td>
                    <td class="text-center">
                        <div dir="ltr">
                            <app-custom-edit-btn [ControllerName]="ControllerName"
                                (onBtnEditClick)="getPermissionMasterAndDetailsToEdit(permission.keyId)"></app-custom-edit-btn>
                            <app-custom-delete-btn [ControllerName]="ControllerName"
                                (onBtnDeleteClick)="showDeleteDialog(permission.keyId)"></app-custom-delete-btn>

                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                 

                        <app-custom-paginator-filter-search [ControllerName]="ControllerName" 
                        (onPageChange)="onPageChange($event)"
                         dropdownAppendTo="body" [showCurrentPageReport]="true" 
                         currentPageReportTemplate="{{_localizeServe.getLabelValue('lbl_show')}} {first} {{_localizeServe.getLabelValue('lbl_to')}} {last} {{_localizeServe.getLabelValue('lbl_of')}} {totalRecords} {{_localizeServe.getLabelValue('lbl_entries')}}" #paginatorRefPermissionsMaster [rows]="10" [totalRecords]="totalRecords"
                          [rowsPerPageOptions]="[10, 20, 30,40,50]"></app-custom-paginator-filter-search>
                </div>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">{{_localizeServe.getLabelValue('lbl_noData')}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
    <ng-template #dialogFooter>

    </ng-template>
</app-custom-dialog>
<!-- End Dialog  -->

<!-- Delete Permissions Dialog  -->
<app-custom-confirm-dialog (onConfirm)="getPermissionMasterAndDetailsToDelete()"
    #customDeleteDialog></app-custom-confirm-dialog>
<!-- End Dialog  -->