<form [formGroup]="registerForm">
<div class="flex flex-column md:flex-row  h-100">
    <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5 ">

        <div class="d-flex flex-column flex-column-reverse">
            <p *ngIf="registerForm.get('userPolicy')?.getError('required') && registerForm.get('userPolicy')?.touched" class="text-danger mx-1">*</p>

        <div class="flex flex-wrap justify-content-center align-items-center gap-2" style="width: 250px;">
            <p-inputGroup > 
                <p-inputGroupAddon>
                    <i class="pi pi-discord"></i>
                </p-inputGroupAddon>
                    <p-floatLabel  [class]="'w-100'"  dir="ltr">
                            <p-dropdown   
                           #userPolicyDropdown
                               Class="w-100"
                              formControlName="userPolicy"
                                [options]="userPolicyData"
                               
                                [showClear]="true"
                                optionLabel="value" 
                                optionValue="key"
                                inputId="userPolicy-label"
                                [placeholder]="localizeServ.getLabelValue('lbl_choose')"  />
                        <label  for="userPolicy-label" >{{localizeServ.getLabelValue('lbl_userPolicy')}}</label>
                    </p-floatLabel>
            </p-inputGroup>
           
        </div>
    </div>

        <div class="d-flex flex-column flex-column-reverse">
            <p *ngIf="registerForm.get('displayName')?.getError('required') && registerForm.get('displayName')?.touched" class="text-danger mx-1">*</p>
            <p *ngIf="registerForm.get('displayName')?.getError('pattern') && registerForm.get('displayName')?.valueChanges" class="text-danger mx-1">*</p>

        <div class="flex flex-wrap justify-content-center align-items-center gap-2" style="width: 250px;">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input  formControlName="displayName" pInputText [placeholder]="localizeServ.getLabelValue('lbl_userName')" />
            </p-inputGroup>
           
        </div>
    </div>

        <div class="d-flex flex-column flex-column-reverse"> 
            
            <p *ngIf="registerForm.get('email')?.getError('required') && registerForm.get('email')?.touched" class="text-danger mx-1">*</p>
            <p *ngIf="registerForm.get('email')?.getError('email') && registerForm.get('email')?.valueChanges" class="text-danger mx-1" >{{localizeServ.getLabelValue('lbl_emailInvalid')}}</p>

        <div class="flex flex-wrap justify-content-center align-items-center gap-2 " style="width: 250px;">
            <p-inputGroup >
                <p-inputGroupAddon >
                    <i class="pi pi-at"></i>
                </p-inputGroupAddon>
                <input formControlName="email"  type="email" pInputText [placeholder]="localizeServ.getLabelValue('lbl_email')" />
               
            </p-inputGroup>
           
        </div>
       
    </div>

    <div class="d-flex flex-column flex-column-reverse">
        <p *ngIf="registerForm.get('password')?.getError('required') && registerForm.get('password')?.touched" class="text-danger mx-1 " >*</p>
       

        <div class="flex flex-wrap justify-content-center align-items-center gap-2 " style="width: 250px;" >
            <p-inputGroup >
                <p-inputGroupAddon >
                    <i class="pi pi-circle-fill"></i>
                </p-inputGroupAddon>
                <!-- <input type="password" pInputText [placeholder]="localizeServ.getLabelValue('lbl_password')"/> -->
                <p-password  [autocomplete]="''" formControlName="password" [feedback]="true" styleClass="w-100" [placeholder]="localizeServ.getLabelValue('lbl_password')" [toggleMask]="true" />
            </p-inputGroup>
        </div>
    </div>
    <p *ngIf="registerForm.get('password')?.getError('pattern') && registerForm.get('password')?.valueChanges" class="text-danger mx-1 w-50" >{{localizeServ.getLabelValue('lbl_passworInvalid')}}
        <br>
        The password must be at least 8 characters long but no more than 10 characters long
        <br>
        The password must contain at least one digit (0-9)
        <br>
        The password must contain at least one lowercase letter (a-z)
        <br>
        The password must contain at least one uppercase letter (A-Z)
        <br>
        At Least One Special Character
        <br>
        No Spaces
    </p>

        <app-custom-save-btn (onBtnSaveClick)="registerUser()"
          [label]="localizeServ.getLabelValue('lbl_register')"
          [ControllerName]="ControllerName"
          icon="pi pi-user"
          [outlined]="false"
          [severity]="'primary'"
          [class]="''"
          styleClass="w-10rem mx-auto"
        ></app-custom-save-btn>
        
    </div>
    <input hidden formControlName="userName">
    <div class="w-full md:w-2">
        <p-divider layout="vertical" styleClass="hidden md:flex">
            <b></b>
        </p-divider>
        <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
            <b></b>
        </p-divider>
    </div>
    <div class="w-full md:w-5 flex align-items-center justify-content-center py-5">
        <p-card header="PRIME CLINIC" subheader="Clinic Name" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Prime Logo" src="/assets/images/PrimeLogo.png" />
            </ng-template>
        </p-card>
    </div>
</div>


</form>
